In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sidetable

In [229]:
def opening(route):
    df = pd.read_csv(route)
    return df

In [230]:
dataframe = opening('../../data_movies/christmas_movies.csv')

In [253]:
def delete_columns(df):

    null = ((df.isnull().sum()) / len(df)) * 100
    delete_columns = null[null > 70].index
    df.drop(delete_columns, axis = 1, inplace = True)
    
    print(f'Borrar {len(delete_columns)}')

In [254]:
delete_columns(dataframe)

Borrar 0

In [233]:
dataframe.head(1)

,title,rating,runtime,imdb_rating,genre,release_year,description,director,stars,votes,img_src,type
0,Love Actually,R,135.0,7.6,"Comedy, Drama, Romance",2003.0,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...","491,920",https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie

In [234]:
dataframe.dtypes

title            object
rating           object
runtime         float64
imdb_rating     float64
genre            object
release_year    float64
description      object
director         object
stars            object
votes            object
img_src          object
type             object
dtype: object

In [237]:
def clean_datatype(df, *args):
    df_without_nulls = df.replace([np.inf, -np.inf], np.nan).dropna()
    
    columns = list(args)
    for col in columns:
        
        try:
            df_without_nulls[col] = df_without_nulls[col].astype('int')
        except:
            df_without_nulls[col] = df_without_nulls[col].str.replace(',', '').astype('int')
            
    return df_without_nulls

In [260]:
df_without_nulls.isnull().sum()

title           0
rating          0
runtime         0
imdb_rating     0
genre           0
release_year    0
description     0
director        0
stars           0
votes           0
img_src         0
type            0
dtype: int64

In [238]:
clean_datatype(dataframe, 'release_year', 'votes', 'runtime')

,title,rating,runtime,imdb_rating,genre,release_year,description,director,stars,votes,img_src,type
0,Love Actually,R,135,7.6,"Comedy, Drama, Romance",2003,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",491920,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie
1,National Lampoon's Christmas Vacation,PG-13,97,7.5,Comedy,1989,The Griswold family's plans for a big family C...,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...",198428,https://m.media-amazon.com/images/M/MV5BMGZkMW...,Movie
2,Spirited,PG-13,127,6.6,"Comedy, Family, Musical",2022,A musical version of Charles Dickens's story o...,Sean Anders,"Will Ferrell, Ryan Reynolds, Octavia Spencer, ...",34304,https://m.media-amazon.com/images/M/MV5BY2RlZG...,Movie
3,Home Alone,PG,103,7.7,"Comedy, Family",1990,"An eight-year-old troublemaker, mistakenly lef...",Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...",584210,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Movie
4,How the Grinch Stole Christmas,PG,104,6.3,"Comedy, Family, Fantasy",2000,"On the outskirts of Whoville lives a green, re...",Ron Howard,"Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tam...",259796,https://m.media-amazon.com/images/M/MV5BNWNiNT...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...
736,Christmas Coming Out,Not Rated,17,6.6,"Short, Comedy, Drama",2021,An action figure from a young gay man's Christ...,Art Arutyunyan,"Ford Nelson, Tyler Horn, Arthur Marroquin, Kat...",20,https://m.media-amazon.com/images/M/MV5BMzFhYj...,Movie
738,Community Theater Christmas,TV-14,103,7.5,Comedy,2019,A community theater competes for a state grant...,Melissa Vitello,"IsaBeall Quella, Marissa Pistone, Adrienne Ros...",53,https://m.media-amazon.com/images/M/MV5BOWI2OG...,Movie
747,Blind Turn,Not Rated,80,5.3,"Drama, Mystery, Thriller",2012,Samantha Holt is forced to confront her dark s...,Robert Orr,"Rachel Boston, Jay Dee Walters, John Gabriel R...",136,https://m.media-amazon.com/images/M/MV5BMTQyNz...,Movie
751,"Tall, Dark and Handsome",Approved,78,6.6,"Comedy, Crime",1941,Robin Hoodish gangster in 1929 Chicago is an o...,H. Bruce Humberstone,"Cesar Romero, Virginia Gilmore, Milton Berle, ...",234,https://m.media-amazon.com/images/M/MV5BYTMzMG...,Movie
777,It's Always Sunny in Philadelphia: A Very Sunn...,TV-MA,43,9.2,Comedy,2005,Dennis and Dee decide to teach Frank a lesson ...,Fred Savage,"Charlie Day, Glenn Howerton, Rob McElhenney, K...",4606,https://m.media-amazon.com/images/M/MV5BNDI5ZT...,TV Episode

In [239]:
df.dtypes

title            object
rating           object
runtime           int32
imdb_rating     float64
genre            object
release_year      int32
description      object
director         object
stars            object
votes             int32
img_src          object
type             object
dtype: object

In [244]:
    def separate_genre(df,pattern,column):
        """This function separates a list of items by commas and creates a new row for each of the items in the list.

        Args:
            df (dataframe): dataframe that we will modify
            pattern (string): pattern by which we will separate the list
            column (string): name of the column that we will modify

        Returns:
            dataframe: modified data frame
        """
    
        df[column] = df[column].str.split(pattern, n = -1) 
    
        return df.explode(column)

In [245]:
separate_genre(df, ', ', 'genre')

,title,rating,runtime,imdb_rating,genre,release_year,description,director,stars,votes,img_src,type
0,Love Actually,R,135,7.6,Comedy,2003,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",491920,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie
0,Love Actually,R,135,7.6,Drama,2003,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",491920,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie
0,Love Actually,R,135,7.6,Romance,2003,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",491920,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie
1,National Lampoon's Christmas Vacation,PG-13,97,7.5,Comedy,1989,The Griswold family's plans for a big family C...,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...",198428,https://m.media-amazon.com/images/M/MV5BMGZkMW...,Movie
2,Spirited,PG-13,127,6.6,Comedy,2022,A musical version of Charles Dickens's story o...,Sean Anders,"Will Ferrell, Ryan Reynolds, Octavia Spencer, ...",34304,https://m.media-amazon.com/images/M/MV5BY2RlZG...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...
747,Blind Turn,Not Rated,80,5.3,Mystery,2012,Samantha Holt is forced to confront her dark s...,Robert Orr,"Rachel Boston, Jay Dee Walters, John Gabriel R...",136,https://m.media-amazon.com/images/M/MV5BMTQyNz...,Movie
747,Blind Turn,Not Rated,80,5.3,Thriller,2012,Samantha Holt is forced to confront her dark s...,Robert Orr,"Rachel Boston, Jay Dee Walters, John Gabriel R...",136,https://m.media-amazon.com/images/M/MV5BMTQyNz...,Movie
751,"Tall, Dark and Handsome",Approved,78,6.6,Comedy,1941,Robin Hoodish gangster in 1929 Chicago is an o...,H. Bruce Humberstone,"Cesar Romero, Virginia Gilmore, Milton Berle, ...",234,https://m.media-amazon.com/images/M/MV5BYTMzMG...,Movie
751,"Tall, Dark and Handsome",Approved,78,6.6,Crime,1941,Robin Hoodish gangster in 1929 Chicago is an o...,H. Bruce Humberstone,"Cesar Romero, Virginia Gilmore, Milton Berle, ...",234,https://m.media-amazon.com/images/M/MV5BYTMzMG...,Movie
777,It's Always Sunny in Philadelphia: A Very Sunn...,TV-MA,43,9.2,Comedy,2005,Dennis and Dee decide to teach Frank a lesson ...,Fred Savage,"Charlie Day, Glenn Howerton, Rob McElhenney, K...",4606,https://m.media-amazon.com/images/M/MV5BNDI5ZT...,TV Episode

In [ ]:
tal cual estaba

    def clean_delete_columns(df):

        null = ((df.isnull().sum()) / len(df)) * 100
        delete_columns = null[null > 70].index
        df.drop(delete_columns, axis = 1, inplace = True)

        if df.duplicated().sum() != 0:
            df.drop_duplicates(inplace = True)
            
        print(f'{len(delete_columns)} columns with more than 70% null values ​​have been removed')
        print(f'{df.duplicated().sum()} rows with duplicate values ​​have been removed')